:root {
  --purple-primary: #6D23B6;
  --purple-secondary: #260A3D;
  --purple-divider: #6E24B6;
  --pink-primary: #FF84BA;
  --pink-secondary: #D35C93;
  --pink-divider: #FE84BB;
  --pink-gradient-text: #F77FBB;
  --white: #FFF;
  --black: #000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 150%;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

html, body, input, button {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

