section#registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

section#registration image-with-text {
  & .image-container {
    max-width: 946px;
    max-height: 940px;

    &:hover {
      transform: scale(1.05);
    }
  }

  & .text-overlay {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
}


section#registration .form-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

section#registration .form-container h3 {
  font-size: 24px;
}

section#registration .form-container form {
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(to right, #6E24B6, #FE83BB) border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section#registration .form-container form .inner-form {
  max-width: 725px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

section#registration .form-container form .input-group {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  & input {
    background: #252525;
    border: 1px solid var(--black);
    outline: var(--purple-primary);
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-color: var(--white);
    padding: 6px 10px;
    flex: 1;
    max-width: 611px;
    color: var(--white);
    font-size: 24px;
    &.error {
      outline: #F00;
      border: 1px solid #F00;
    }
  }

  & label {
    background: #252525;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    &.error {
      color: #F00;
    }
  }
}

section#registration form .inner-form button {
  background: linear-gradient(to right, #6E24B6, #FE83BB);
  border-radius: 10px;
  align-self: center;
  padding: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  max-width: 410px;
  min-height: 80px;
  min-width: 400px;
  border: 1px solid #B150B8;
  color: transparent;
  font-weight: bold;
  font-size: 32px;
  transition: transform 1s;
  cursor: pointer;
}

section#registration form .inner-form button:hover {
  transform: scale(1.05);
}
